<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hi. This is Geology</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
  </head>

   <body>
	    
   <nav class="navbar navbar-default fixed-top">
     <a class="navbar-brand" href="{% url 'home' %}">GeolSR</a>

     <a href="{% url 'login' %}">Login</a>
   </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          {% block main %}
	  {% endblock %}
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </body>
</html>
