{% extends 'base.html' %}

{% block main %}

  <h1> Study begins </h1>

  <div class=" jumbotron">
    
    {% if show_question %}
  
      <p id="id_front_text"> {{ front }} </p>
      
      <form method="POST" name="textfield">
        {% csrf_token %}
        <input type="submit" value="Submit" id="id_button_show" class="btn btn-primary btn-block" autofocus/>
      </form>
    
    {% else %}
    
      <p id="id_back_text"> {{ back }} </p>
      
      <form method="POST" name="textfield">
        {% csrf_token %}
	
        <div class="col-md-12">
	  <div class="row">
	    <div class="col-md-4"> 
 	      <input type="submit" value="-1" name="rate" id="id_button_rate" class="btn btn-danger btn-lg btn-block"/>
	    </div>
	    <div class="col-md-4"> 
	      <input type="submit" value="0" name="rate" id="id_button_rate" class="btn btn-warning btn-lg btn-block"/>
	    </div>
	    <div class="col-md-4"> 
	      <input type="submit" value="+1" name="rate" id="id_button_rate" class="btn btn-success btn-lg btn-block"/>
	    </div>
	  </div>
	</div>
      </form>

    </div>
  
  {% endif %}

{% endblock %}

